doctype html
html
    head
        title Chat !
        link(rel='stylesheet', href='css/main.css')
        link(href='//fonts.googleapis.com/css?family=Pacifico|Courgette' rel='stylesheet' type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css')
        script(src="/socket.io/socket.io.js")
        script(src="/js/jquery-1.11.1.js")
        script(src="/js/etc.js")
        script(src="./app.js")
    body
        .head-box
            h1.big-head Chat !
        .rooms-box
            p Welcome #{user}!, Which room would you like to join?
            div#rooms #{rooms}
            a(href="")#createroom or Create Room!
        .main-box
          .menu
            .name(style='line-height: 1.7;') defaultRoom
            a(href="")#leaveroom x Leave Room
            
          ol.chat
            .chat-in
            form(action='')
                input.textarea(type='text', id="message", placeholder='Enter Message Here !')
                button.submit
                        i.fa.fa-paper-plane
            a(href='/logout').logout Log Out
        
        .rooms-box(style="padding-bottom: 100px;")
            p by
            p Sirikorn Subboonrueng 5530591321
            p Kamolphan Liwprasert 5531001621
            p Jirat Onaree 5531012521
            p Prapatsorn Sereepornprasert 5531043021
        
        script.
            var socket = io();
            var local_user =!{JSON.stringify(user)};
            var d = new Date();
            ////
            $('#createroom').click(function(){
                var roomname = prompt("Please enter your room name", "");
                socket.emit('createroom', roomname);
                // $(roomDiv).appendTo('.chat');
            });
            $('#leaveroom').click(function(){
                socket.emit('switchroom', 'defaultRoom');
            });
            $('form').submit(function() {
                socket.emit('sendchat', getTime()+"\t: "+$('#message').val());
                $('#message').val('');
                return false;   
            });
            socket.on('sendchat', function(message) {
                $('#chat-box ul').append($('<li>').text(message));
            });

            socket.on('connect', function(){
                socket.emit('adduser', local_user);
            });
            
            //TODO: EARTH       
            //message from server 
            socket.on('fromserver', function (data,current_room) {
                displayMsg('SERVER',data,current_room);
            });

            socket.on('updatechat', function (username, data, current_room) {
                displayMsg(username,data,current_room);
            });

            socket.on('oldmsg',function(docs, last,current_room) {
                for(var i = 0; i < docs.length; i++) {
                    if (i == last) displayMsg('SERVER','Unseen Messages',current_room);
                    displayMsg(docs[i].username,docs[i].msg,current_room);
                }
            });
            ////
            function displayMsg(username, data,current_room){
                var uname = username.toUpperCase();
                //wtf
                var serv = '<li class="serv" style="display: none;"><div class="msg"><p>' + data + '</p></div></li>'
                var self = '<li class="self" style="display: none;"><div class="avatar"><img src="https://img-w.zeebox.com/images/profile/generic/Empty_Profile_05.png" draggable="false"/></div><div class="msg"><div class="float-fix"><p class="name">' + uname + '</p></div><p>' + data + '</p><time>'+ getTodayDate() +'</time></div></li>';
                var other = '<li class="other" style="display: none;"><div class="avatar"><img src="https://img-i.zeebox.com/images/profile/generic/Empty_Profile_07.png" draggable="false"/></div><div class="msg"><p class="name">' + uname + '</p><p>' + data + '</p><time>'+ getTodayDate() +'</time></div></li>';
                if(uname.toLowerCase() == local_user) {
                    $(self).appendTo('.chat-in').show('fast');
                }
                else if(uname.toLowerCase() == "server") {
                    $(serv).appendTo('.chat-in').show('fast');
                }
                else {
                    $(other).appendTo('.chat-in').show('fast');
                }
            }


            socket.on('updaterooms', function(rooms, current_room) {
                $('#rooms').empty();
                $('.menu .name').empty();
                $.each(rooms, function(key, value) {
                    if(value == current_room){
                        $('#rooms').append('<div style="text-color: white;" class="room-selected">' + value + '</div>');
                        $('.menu .name').text(value);
                    }
                    else {
                        $('#rooms').append('<div><div class="room-list" href="#" onclick="switchRoom(\''+value+'\')">' + value + '</div></div>');
                    }
                });
            });

            function switchRoom(room){
                socket.emit('switchRoom', room);
            }
            
            $(function(){
                $('#datasend').click( function() {
                    var message = $('#data').val();
                    $('#data').val('');
                    socket.emit('sendchat', message);
                });

                $('#data').keypress(function(e) {
                    if(e.which == 13) {
                        $(this).blur();
                        $('#datasend').focus().click();
                    }
                });
            });