doctype html
html
    head
        title Chat !
        link(rel='stylesheet', href='css/main.css')
        link(href='//fonts.googleapis.com/css?family=Pacifico|Courgette' rel='stylesheet' type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css')
        script(src="/socket.io/socket.io.js")
        script(src="/js/jquery-1.11.1.js")
        script(src="/js/etc.js")
    body
        .head-box
            h1.big-head Chat !
        .rooms-box
        .main-box.login
            .welcome-msg
                p Hi !, we are waiting for you :D
            form(action="/login" method="post")
                input(type="text", id="user",placeholder="Username", autocomplete="off",name="username").login-field.uname
                input(type="password", id="pass",placeholder="Password", autocomplete="off",name="password").login-field.pass
                input(type="submit" value="Let's chat !").goin-button
        .rooms-box
            p by
            p Sirikorn Subboonrueng 5530591321
            p Kamolphan Liwprasert 5531001621
            p Jirat Onaree 5531012521
            p Prapatsorn Sereepornprasert 5531043021

                