@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background: #1abc9c;
    font-family: 'Courgette', cursive;
    margin: 0px auto;
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}

.main-box {
    width: 900px;
    margin: 40px auto 100px;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #e5e5e5;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.main-box.login {
    width: 500px;
    padding: 20px 10px;
}

.login-field {
    display: block;
    width: 200px;
    margin: 15px auto;
    padding: 12px 22px;
    font-size: 17px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.welcome-msg {
    width: 100%;
    text-align: center;
}
.welcome-msg p {
    text-align: center;
    color: #7e7e7e;
    font-size: 20px;
    margin: 15px 0 15px;
    padding-bottom: 15px;
}


.goin-button {
    display: block;
    margin: 35px auto 20px;
    width: 120px;
    background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}
/* M E N U */

.head-box {
    padding-top: 10px;
    width: 100%;
    text-align: center;
} 
.big-head {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 7rem;
    margin-bottom: 40px;
    margin-top: 40px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
#back-fix {
    padding-top: 11px;
}

.menu {
    position: relative;
    top: -10px;
    left: -10px;
    right: -10px;
    width: 120%;
    height: 50px;
    background: rgba(82,179,217,1);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.back {
    position: absolute;
    width: 20px;
    height: 50px;
    top: 0px;
    left: 10px;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.back img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.98);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px;
    }
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: 5px;
    left: 50px;
    font-family: 'Courgette', cursive;
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.last{
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}

/* R O O M S */

.rooms-box {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.room-list {
    color: white;
    cursor: pointer;
    cursor: hand;
}

.room-list:hover {
    color: rgb(224,224,224);
}
.room-selected {
    text-decoration: underline;
}

#createroom {
    line-height: 3;
    color: white;
}
#createroom:hover {
    color: rgb(244,244,244);
}
/* M E S S A G E S */

.chat-in {
    margin-bottom: 60px;
}
.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 30px;
    margin-bottom: 10px;
}
.chat li {
    padding: 1.25rem 1rem;
    display: flex;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    margin: 0 20px;
}
.chat .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
    box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
/*.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
*/
.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.self .avatar {
    order: 2;
}
/*.self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
}*/

.other .msg .name {
    position: absolute;
    top: -21px;
    left: 11px;
}

.self .float-fix {
    position: relative;
    float: right;
    background-color: red;
    margin-right: 95px;
}
.self .float-fix .name {
    position: absolute;
    top: -34px;
}

.msg {
    position: relative;
    background: white;
    min-width: 50px;
    padding: 12px 10px 12px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 15px;
    margin: 0px 5px 0.2rem 5px;
    color: #777;
}
.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg .name {
    font-size: 0.8rem;
}
@media screen and (max-width: 800px) {
    .msg img {
    width: 300px;
}
}
@media screen and (max-width: 550px) {
    .msg img {
    width: 200px;
}
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    margin-right: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */

input.textarea {
    position: absolute;
    float: right;
    bottom: 20px;
    right: 0px;
    width: 40%;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 35px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
    font-size: 15px;
    margin-right: 137px;
    margin-bottom: 37px; 
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.emojis {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 34px;
    height: 34px;
    background-image: url(http://i.imgur.com/5WUpcPZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}
.emojis:active {
    opacity: 0.9;
}

.submit {
    position: absolute;
    bottom: 47px;
    right: 47px;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    background-color: rgba(82,179,217,1);
    z-index: 100;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    cursor: hand;
}

.submit .fa-paper-plane {
    color: white;
    font-size: 30px;
    line-height: 2.3;
    margin: -3px 0 0 -3px;  
}

.submit:hover {
    background-color: rgba(82,179,217,0.7);

}

/* T A B */

.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

#leaveroom {
    position: absolute;
    left: 770px;
    top: 0;
    width: 150px;
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 14px 0px;
    /*background-color: #2980b9;*/
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

#leaveroom:hover {
    background-color: #3498db;
}

.logout {
    text-align: center;
    color: #959595;
    font-size: 17px;
    padding: 14px 14px;
    text-decoration: none;
    margin-left: 40px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.logout:hover {
    background-color: #e74c3c;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

div.chat-in li.serv .msg{
    background: none;
    box-shadow: none;
    width: 100%;
    text-align: center;
}

